body{
    background-color: #1f1e1e;
}

.navBg {
    background-color: rgb(52 59 72 / 87%);
}
.orange {
    color: orangered;
}
.orange :hover
{
    color: orange;
}
.whiteBorder {
    border: 1px solid floralwhite;
    border-radius: 5px;
}
.nav-link {
    color: orangered;
}

.nav-item>a:hover{
    color: floralwhite;
}